* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Quicksand, sans-serif;
  background-color: #EEEEEE;
}

p {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  background-color: #1F2834;
  height: 56px;
  padding: 10px 15px;
}

input {
  accent-color: #1F7A54;
}

.header--user {
  margin: 0;
  color: #FFFFFF;
  font-weight: 600;
  width: 40px;
  height: 40px;
  background-color: #3C4E62;
  border: 2px solid #3FD28B;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.header--icon {
  height: 30px;
  margin-right: 7px;
  margin-right: auto;
}


.login--page {
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
}

.form {
  width: 488px;
  height: 419px;
  background-color: #FFFFFF;
  border-top: 4px solid #3AC7EC;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form--inputs {
  width: 100%;
}

.form--password {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.form--password > img {
  width: 22px;
  position: absolute;
  right: 0px;
}

.form--input {
  width: 100%;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #000000;
  background-color: #f9f9f9;
}

.form--submit {
  width: 50%;
  padding: 10px;
  color: #1F2834;
  background-color: #3FD28B;
  box-shadow: 0px 3px 5px #0000003D;
  border: none;
  cursor: pointer;
}

.form--remember {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.form--remember > input {
  margin-right: 10px;
}

.form--input--float {
  float: right;
  font-size: 14px;
  color: #1F7A54;
  font-weight: 600;
  cursor: pointer;
}

.login-text {
  font-size: 24px;
  color: #222222;
  font-weight: 600;
}

.form--footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form--footer--text {
  font-size: 12px;
  color: #222222;
  padding-bottom: 4px;
}

.form--footer--reg {
  font-size: 14px;
  color: #1F7A54;
  cursor: pointer;
}

footer {
  background-color: #EEEEEE;
  width: 100%;
  display: flex;
  padding: 24px;
  justify-content: center;
  font-size: 14px;
}

.footer--text {
  color: #1F7A54;
  padding: 10px;
  cursor: pointer;
}

.footer-separator {
  color: #0000001F;
  padding: 10px 0;
}

